.info {
  &__wrapper {
    @include container;

    padding: 30px 10px;
  }

  &__block {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &__box {
    margin-bottom: 15px;
  }

  &__title {
    margin: 0 0 30px;
    color: rgb(51, 51, 51);
    font-family: $main-font;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
  }

  &__caption {
    margin-bottom: 10px;
  }

  &__text {
    margin: 0;
    color: rgb(51, 51, 51);
    font-family: $main-font;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;

    &--margin-bottom {
      margin-bottom: 10px;
    }
  }

  &__link {
    @include ease-out;

    color: rgb(61, 181, 101);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: rgb(54, 102, 54);
    }

    &--font-big {
      font-size: 26px;
      font-weight: 400;
    }
  }
}

@include media-min($tablet-width) {
  .info {
    &__wrapper {
      padding: 60px 60px 94px;
    }

    &__container {
      display: flex;
    }

    &__block {
      flex-basis: 40%;
      flex-grow: 1;

      &:not(:last-of-type) {
        margin: 0 47px 0 0;
      }
    }

    &__title {
      margin-bottom: 42px;
      font-size: 50px;
      line-height: 48px;
    }

    &__caption {
      margin-bottom: 30px;
    }

    &__strong {
      font-size: 34px;
      line-height: 48px;
    }

    &__text {
      font-size: 15px;
      line-height: 28px;
    }
  }
}

@include media-min($desktop-width) {
  .info {
    &__flex-box {
      display: flex;
    }

    &__box {
      flex-grow: 1;
      margin-bottom: 0;

      &:first-of-type {
        margin-right: 20px;
      }

      &:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &__text {
      font-size: 15px;
      line-height: 28px;
      
      &--margin-bottom {
        margin-bottom: 25px;
      }
    }
  }
}